<h1 class="text-center pt-5 ">Update Recipe</h1>
<form (ngSubmit)="OnSubmit()" class="w-[27rem] p-6 rounded-lg shadow-md">
    <div class="mb-4">
       <mat-form-field class="w-full">
           <mat-label class="text-gray-200">Title</mat-label>
           <input matInput placeholder="Title" value="recipeItem.Title" name="Title" [(ngModel)]="recipeItem.Title"
           class="py-3 px-3 text-gray-200 mt-1 focus:shadow-outline">
         </mat-form-field>
    </div>
    <div class="mb-4">
       <mat-form-field class="w-full">
           <mat-label class="text-gray-200" >Description</mat-label>
           <input matInput placeholder="description" value="recipeItem.Description" name="description" [(ngModel)]="recipeItem.Description"
           class="py-3 px-3 text-gray-200 mt-1 focus:shadow-outline">
         </mat-form-field>
    </div>
    <div class="mb-4">
       <mat-radio-group value="recipeItem.foodType" [(ngModel)]="recipeItem.foodType" name="foodType">
           <mat-radio-button value="veg" checked="true">Vegetarian</mat-radio-button>
           <mat-radio-button value="non_veg">Non Vegetarian</mat-radio-button>
         </mat-radio-group>
         
    </div>
    <div class="mb-4">
       <mat-form-field class="w-full">
           <mat-label class="text-gray-200">image</mat-label>
           <input matInput placeholder="Image Url" value="recipeItem.Image" name="Image" [(ngModel)]="recipeItem.Image"
           class="py-3 px-3 text-gray-200 mt-1 focus:shadow-outline">
         </mat-form-field>
    </div>
    <div>
       <button mat-raised-button color="primary" type="submit">
           Update
       </button>
    </div>
   </form>